<div class="dialog-container">
  <h2 mat-dialog-title class="dialog-title">
    <i class="fas fa-plus-square fas-2x"></i>
    Add New Balvikas Centre
  </h2>

  <mat-dialog-content class="dialog-content mat-typography">
    <form #createForm="ngForm" class="flex flex-col gap-4 mt-2">

      <!-- Name -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Centre Name</mat-label>
        <input
          matInput
          name="centreName"
          [(ngModel)]="data.centreName"
          placeholder="Enter Balvikas Centre name"
          required
        />
      </mat-form-field>

      <!-- Samithi Name -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Samithi Name</mat-label>
        <input
          matInput
          name="samithiName"
          [(ngModel)]="data.samithiName"
          rows="2"
          placeholder="Enter Samithi Name"
        />
      </mat-form-field>

      <!-- Address -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Address</mat-label>
        <textarea
          matInput
          name="address"
          [(ngModel)]="data.address"
          placeholder="Enter BV Centre Address"
        ></textarea>
      </mat-form-field>

      <!-- Pincode -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Pincode</mat-label>
        <input
          matInput
          name="pincode"
          [(ngModel)]="data.pincode"
          placeholder="Enter Pincode"
        />
      </mat-form-field>

      <!-- Convenor Name -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Convenor Name</mat-label>
        <input
          matInput
          name="convenorName"
          [(ngModel)]="data.convenorName"
          placeholder="Enter Convenor Name"
        />
      </mat-form-field>

      <!-- Convenor Contact -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Convenor Contact</mat-label>
        <input
          matInput
          name="convenorContact"
          [(ngModel)]="data.convenorContact"
          placeholder="Enter Convenor Contact"
        />
      </mat-form-field>

      <!-- EC Name -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>EC Name</mat-label>
        <input
          matInput
          name="ecName"
          [(ngModel)]="data.ecName"
          placeholder="Enter EC Name"
        />
      </mat-form-field>

      <!-- Convenor Contact -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>EC Contact</mat-label>
        <input
          matInput
          name="ecContact"
          [(ngModel)]="data.ecContact"
          placeholder="Enter EC Contact"
        />
      </mat-form-field>

      <!-- Google Map Link -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Google Map Link</mat-label>
        <input
          matInput
          name="googleMapLink"
          [(ngModel)]="data.googleMapLink"
          placeholder="Enter GMap Link"
        />
      </mat-form-field>

    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="dialog-actions">
    <button mat-button mat-dialog-close (click)="onCancel()">Cancel</button>
    <button
      mat-flat-button
      color="primary"
      [disabled]="!createForm.form.valid"
      (click)="onSave()"
    >
      Save
    </button>
  </mat-dialog-actions>
</div>
