<main class="main">
  <div class="container">
    <h1>Sri Sathya Sai Balvikas Locator</h1>
    <app-search-form (search)="onSearch($event)"></app-search-form>
    
    <div class="results" *ngIf="centres.length > 0">
      <h2>Found {{ centres.length }} centres</h2>
      <div class="results-card">
        <app-centre-card 
        *ngFor="let centre of centres"
        [centre]="centre"
      ></app-centre-card>
      </div>
    </div>
    
    <div *ngIf="searched && centres.length === 0" class="no-results">
      <p><i class="fas fa-info-circle"></i> No education centres found in this area.</p>
    </div>
  </div>
</main>
<router-outlet />
