:host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(
      180deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
      90deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --pill-accent: var(--bright-blue);

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  main {
    width: 100%;
    min-height: 62vh;
    display: flex;
    justify-content: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }

    .header-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2em;
    }
    
    .results {
      display: flex;
      flex-direction: column;
      justify-content: center;
    } 

    .results-card {
      gap: 1em !important;
    }

    .nav-bar {
      justify-content: space-between;
      .a-link {
        font-size: smaller !important;
        font-weight: 500 !important;
      }
      > :last-child {
        margin-left: 0 !important;
      }
    }

    .app-footer {
      margin: 0 25px;
      justify-content: center !important;
      font-weight: 500 !important;
      font-size: smaller !important;
      > :last-child {
        display: none;
      }
    }

    h1 {
      font-size: x-large;
    }
    .bv-logo { 
      max-width: 8em !important;
    }

    .mat-button-toggle-appearance-standard {
      width: 13em !important;
      height: 2.5em !important;
      font-size: small !important;
    }

    .no-results {
      font-size: small !important;
    }

  }

  h1 {
    color: #057082;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .results h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .no-results {
    text-align: center;
    padding: 20px;
    color: #666;
    font-size: large;
  }
  
  .results-card {
    display: flex;
    flex-direction: row;
    gap: 5em;
    flex-wrap: wrap;
  }

  .card-width {
    width: 30rem;
  }

  .bv-logo {
    max-width: 10em;
    border: 4px solid #ccc;
    border-radius: 5em;
    border-color: #0694ac;
    text-align: center;
  }

  .header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }

  .nav-bar {
    background-color: var(--primary-color);
    height: 3rem;
    margin-bottom: 30px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    
    .a-link {
      color: white;
      font-weight: 700;
      font-size: larger;
    }

    > * {
      margin: 0 1em;
    }

    > :last-child {
      margin-left: auto;
    }
  }

  .home-icon {
    cursor: pointer;
    color: white;
  }

  .app-footer {
    display: flex;
    justify-content: space-between;
    margin: 0 25px;
    font-weight: 700;
    font-size: large;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .search-criteria {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
  }

  .mat-button-toggle-appearance-standard {
    background: #e6e6e6;
    width: 12.5em;
    height: 2.1em;
    font-size: large;
  }

  .mat-button-toggle-appearance-standard.mat-button-toggle-checked {
    color: var(--mat-standard-button-toggle-selected-state-text-color, var(--mat-sys-on-secondary-container));
    background-color: rgb(6 148 172 / 53%);
  }

    .sign-in-btn {
      color: white;
      cursor: pointer;
    }
  
    .snackbar-success {
      background-color: #4CAF50 !important;
      color: white;
    }
  
    .snackbar-error {
      background-color: #f44336 !important;
      color: white;
    }