<header>
  <nav class="nav-bar">
    <i class="fa fa-home fa-lg home-icon" aria-hidden="true" (click)="reset()" ></i>
    <a href="https://www.sssbalvikas.in" target="_blank" class="a-link">About SSS Balvikas</a>
    <a href="https://www.ssssoindia.org" target="_blank" class="a-link">About SSSSO</a>
  </nav>
  <div class="header-wrapper">
    <img
      src="assets/images/balvikas-logo.jpg"
      alt="Balvikas Logo"
      class="bv-logo"
    />
    <h1>Sri Sathya Sai Balvikas Locator</h1>
  </div>
</header>
<main class="main">
  <div class="container">
    <div class="search-criteria">
      <p>
        <mat-button-toggle-group name="searchCriteria" [(ngModel)]="searchCriteria" aria-label="Font Style">
          <mat-button-toggle (click)="reset()" value="Area" matTooltip="You can search">Search with AREA</mat-button-toggle>
          <mat-button-toggle (click)="reset()" value="Pincode">Search with PINCODE</mat-button-toggle>
        </mat-button-toggle-group>
      </p>
    </div>
    <app-search-form (search)="onSearch($event)" (clearSearch)="reset()" [searchCriteria]="searchCriteria"></app-search-form>
    
      <div class="results" *ngIf="centres.length > 0">
        <h3>Found {{ centres.length }} centre(s)</h3>
        <div class="results-card">
        <app-centre-card 
        class="card-width"
        *ngFor="let centre of centres"
        [centre]="centre"
        ></app-centre-card>
      </div>
    </div>
    
    <div *ngIf="searched && centres.length === 0" class="no-results">
      <div>
        <i class="fas fa-info-circle"></i> 
        No Balvikas Centres found in this combination of area and pincode ! Please check the inputs
      </div>
      <h3> Please contact this helpline - {{ bvHelplineNumber }}</h3>
    </div>
  </div>
</main>
<footer>
  <div class="app-footer">
    <p>"End of Education is Character" - BABA</p>
    <p>"Educare is the Veda of 21st Century" - BABA</p>
  </div>
</footer>

<router-outlet />