<div class="card education-centre-card">
    <div class="header">
      <h3>{{ centre.name }}</h3>
      <h3>{{centre.samithiName}}</h3>
      <!-- <div class="rating">
        <i class="fas fa-star"></i>
        <span>{{ centre.rating.toFixed(1) }}</span>
      </div> -->
    </div>
    <div class="details">
      <p class="detail-item">
        <i class="fas fa-user"></i>
        <span>{{ centre.guruName }}</span>
      </p>
      <p class="detail-item">
        <i class="fas fa-map-marker-alt"></i>
        <span>{{ centre.address }}</span>
      </p>
      <!-- <p *ngIf="centre.type" class="detail-item">
        <i class="fas fa-tag"></i>
        <span>{{ centre.type }}</span>
      </p> -->
      <p class="detail-item">
        <i class="fas fa-phone"></i>
        <span>{{ centre.guruContactNumber }}</span>
      </p>
      <p class="detail-item">
        <i class="fas fa-location-dot"></i>
        <span>{{ centre.area }} - {{ centre.pincode }}</span>
      </p>
    </div>
  </div>