<div class="card education-centre-card">
    <div class="header">
      <h3>{{ centre.centreName }}</h3>
      <h3>{{centre.samithiName}}</h3>
    </div>
    <div class="details">
      <p class="detail-item">
        <i class="fas fa-map-marker-alt"></i>
        <span>{{ centre.address }}</span>
      </p>
      <span style="margin-left: 30px">Pincode - {{ centre.pincode }}</span>
      <p class="detail-item">
        <i class="fas fa-user"></i>
        <span>
          Education Coordinator - {{ centre.ecName }} <a [href]="'tel:' + centre.ecContact">({{centre.ecContact}})</a>
        </span>
      </p>
      <p class="detail-item">
        <i class="fas fa-user"></i>
        <span>Convenor - {{ centre.convenorName }} <a [href]="'tel:' + centre.convenorContact">({{centre.convenorContact}})</a></span>
      </p>
      <p class="detail-item" *ngIf="centre.googleMapLink">
        <i class="fas fa-map-marker-alt"></i>
        <a [href]="centre.googleMapLink" target="_blank">{{centre.googleMapLink}}</a>
      </p>
      <div class="action-icons-wrapper" *ngIf="isDEC">
        <i class="fas fa-edit" style="color: #120b7a;" (click)="openEditDialog(centre)"></i>
        <i class="fa-solid fa-trash" style="color: #950925;"  (click)="openDeleteDialog(centre)"></i>
      </div>
    </div>
  </div>