<div>

  <!-- Area Criteria  -->
  <div *ngIf="searchCriteria == 'Area'" class="search-container">
    <ng-select #selectCity placeholder="Enter City" [items]="uniqueCities" bindLabel="city" bindValue="city"
      class="ng-select-areas" [(ngModel)]="selectedCity" (change)="onCitySelect()" />
    <ng-select #selectArea placeholder="Enter Area" [items]="filteredAreas" bindLabel="area" bindValue="area"
      [(ngModel)]="selectedArea" (change)="searchByArea()" class="ng-select-areas" [addTag]="true"
      [disabled]="!selectedCity" />
    <button (click)="onSearch()" class="btn"
      [disabled]="(searchCriteria == 'Area' && (!this.selectedArea || !this.selectedCity))">
      <i class="fas fa-search"></i>
      <span>Search</span>
    </button>
  </div>

  <!-- Pincode Criteria -->
  <div *ngIf="searchCriteria == 'Pincode'" class="search-container">
    <input [formControl]="pincode" type="text" placeholder="Enter Pincode" class="input-field" (keyup.enter)="searchByPincode()"/>
      <!-- [ngClass]="{ 'invalid-pincode-input': pincode.invalid && (pincode.dirty || pincode.value) }" -->
    <button (click)="onSearch()" class="btn" [disabled]="pincode.invalid">
      <i class="fas fa-search"></i>
      <span>Search</span>
    </button>
  </div>
</div>
<div *ngIf="searchCriteria == 'Pincode' && (pincode.dirty || pincode.value)" class="pincode-error">
  <p *ngIf="pincode.errors?.['required']">Pincode is required.</p>
  <p *ngIf="pincode.errors?.['pattern']">Invalid pincode format. Must be 6 digits starting with 1–9 with no space in
    between.</p>
</div>