<div class="search-container">
  <!-- <input
    type="text"
    [(ngModel)]="area"
    placeholder="Enter Area"
    class="input-field"
    (keyup.enter)="onSearch()"
  /> -->
    <ng-select #selectCity  *ngIf="searchCriteria == 'Area'" placeholder="Enter City" [items]="uniqueCities" bindLabel="city" bindValue="city" class="ng-select-areas"
      [(ngModel)]="selectedCity" (change)="onCitySelect()" />
    <ng-select #selectArea *ngIf="searchCriteria == 'Area'" placeholder="Enter Area" [items]="filteredAreas" bindLabel="area" bindValue="area"
      [(ngModel)]="selectedArea" (change)="searchByArea()" class="ng-select-areas" [addTag]="true"
      [disabled]="!selectedCity" />
  <input *ngIf="searchCriteria == 'Pincode'" type="text" [(ngModel)]="pincode" placeholder="Enter Pincode" class="input-field" (keyup.enter)="searchByPincode()" />
  <button (click)="onSearch()" class="btn" [disabled]="(searchCriteria == 'Area' && (!this.selectedArea || !this.selectedCity)) || (searchCriteria == 'Pincode' && !pincode)">
    <i class="fas fa-search"></i>
    <span>Search</span>
  </button>
</div>
<!-- <b>Selected Area: </b> {{selectedArea}} -->