<div class="dialog-container">
  <h2 *ngIf="!data.isCreateCentre" mat-dialog-title class="dialog-title">
    <mat-icon class="title-icon">edit</mat-icon>
    Edit Details
  </h2>
  <h2 *ngIf="data.isCreateCentre" mat-dialog-title class="dialog-title">
    <i class="fas fa-plus-square fas-2x"></i>
    Add New BV Centre
  </h2>

  <mat-dialog-content class="dialog-content mat-typography">
    <form #editForm="ngForm" class="flex flex-col gap-4 mt-2">

      <!-- Name -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Centre Name</mat-label>
        <input matInput name="centre.centreName" [(ngModel)]="centreData.centreName" placeholder="Enter Balvikas Centre name"
          required />
      </mat-form-field>

      <!-- Samithi Name -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Samithi Name</mat-label>
        <input matInput name="samithiName" [(ngModel)]="centreData.samithiName" rows="2" placeholder="Enter Samithi Name" />
      </mat-form-field>

      <!-- City Name -->
      <mat-form-field *ngIf="data.isCreateCentre" appearance="outline" class="w-full">
        <mat-label>City</mat-label>
        <input matInput name="centre.city" [(ngModel)]="centreData.city" placeholder="Enter City Name" />
      </mat-form-field>

      <!-- Sai State -->
      <mat-form-field *ngIf="data.isCreateCentre" appearance="outline" class="w-full">
        <mat-label>State</mat-label>
        <mat-select name="state" [(ngModel)]="centreData.state" placeholder="Choose Sai State Name"
          (selectionChange)="onStateChange($event.value)">
          <mat-option *ngFor="let s of saiState" [value]="s">
            {{ s }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Sai District -->
      <mat-form-field *ngIf="data.isCreateCentre" appearance="outline" class="w-full">
        <mat-label>Sai District</mat-label>
        <mat-select [disabled]="!centreData.state" name="district" [(ngModel)]="centreData.district" placeholder="Choose District Name">
          <mat-option *ngFor="let d of saiDistricts" [value]="d">
            {{ d }}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <!-- Area -->
      <mat-form-field *ngIf="data.isCreateCentre" appearance="outline" class="w-full">
        <mat-label>Identifyable Main Area around the BV Centre</mat-label>
        <input matInput name="area" [(ngModel)]="centreData.area" placeholder="Enter Identifyable area" />
      </mat-form-field>

      <!-- Address -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Address</mat-label>
        <textarea matInput name="address" [(ngModel)]="centreData.address" placeholder="Enter BV Centre Address"></textarea>
      </mat-form-field>

      <!-- Pincode -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Pincode</mat-label>
        <input matInput name="pincode" [(ngModel)]="centreData.pincode" placeholder="Enter Pincode" />
      </mat-form-field>

      <!-- Convenor Name -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Convenor Name</mat-label>
        <input matInput name="convenorName" [(ngModel)]="centreData.convenorName" placeholder="Enter Convenor Name" />
      </mat-form-field>

      <!-- Convenor Contact -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Convenor Contact</mat-label>
        <input matInput name="convenorContact" [(ngModel)]="centreData.convenorContact"
          placeholder="Enter Convenor Contact" />
      </mat-form-field>

      <!-- EC Name -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>EC Name</mat-label>
        <input matInput name="ecName" [(ngModel)]="centreData.ecName" placeholder="Enter EC Name" />
      </mat-form-field>

      <!-- Convenor Contact -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>EC Contact</mat-label>
        <input matInput name="ecContact" [(ngModel)]="centreData.ecContact" placeholder="Enter EC Contact" />
      </mat-form-field>

      <!-- Google Map Link -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Google Map Link</mat-label>
        <input matInput name="googleMapLink" [(ngModel)]="centreData.googleMapLink" placeholder="Enter GMap Link" />
      </mat-form-field>

    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="dialog-actions">
    <button mat-button mat-dialog-close (click)="cancel()">Cancel</button>
    <button mat-flat-button color="primary" [disabled]="!editForm.form.valid" (click)="save()">
      Save
    </button>
  </mat-dialog-actions>
</div>